.react-cool-image {
  position: relative;
  background-color: transparent;
  overflow: hidden;

  img {
    width: 100%;
    display: block;
    opacity: 0;
    position: static;
    transition: opacity 1s linear;
  }

  &-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      270deg,
      #fafafa,
      #eaeaea,
      #eaeaea,
      #fafafa
    );
    background-size: 400% 100%;
    animation: skeleton 3s ease-in-out infinite;
    opacity: 1;
    transition: opacity 300ms ease-out;
  }

  @keyframes skeleton {
    0% {
      background-position: 200% 0;
    }

    to {
      background-position: -200% 0;
    }
  }

  &.filling {
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &.loaded {
    img {
      opacity: 1;
    }
  }

  &.thumb {
    img {
      filter: blur(20px);
      opacity: 1;
    }
  }
}
